<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Point of Sale System</title>
</head>
<body>
    <table class="body-wrap" style="box-sizing: border-box; width: 100%;">
        <tr>
            <td class="container" width="600" style="box-sizing: border-box; max-width: 600px !important; clear: both !important; margin: 0 auto;" valign="top">
                <div class="content" style="box-sizing: border-box; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: transparent; margin: 0; border: 1px dashed #4d79f6;" bgcolor="#fff">
                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                            <td class="content-wrap" style="box-sizing: border-box; vertical-align: top; margin: 0; padding: 20px;" valign="top">
                                <table width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <tr>
                                        <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; color: #4d79f6; font-size: 24px; font-weight: 700; text-align: center; vertical-align: top; margin: 0; padding: 0 0 10px;" valign="top">
                                            Point of Sale System
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 3px 10px;" valign="top">
                                            <p>Dear $name,</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 3px 10px;" valign="top">
                                            <p>This notification is a confirmation that you have been created on the Point of Sales Inventory System as an Administrator.</p>
                                            <p>Find below your login credentials:</p>
                                            <p>Username: <strong>$username</strong><br>
                                            Password: <strong>$password</strong><br>
                                            URL: <a href="http://siitpartners.com/pos" target="_blank">http://siitpartners.com/pos</a>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; color: #3f5db3; font-size: 12px; vertical-align: top; margin: 0; padding: 10px 10px;" valign="top">
                                            <p>We'll never send you a link to any external website or request your login details via sms, email, telephone or in person.</p>
                                            <p>You are advised to always keep your login details safe and never disclose it to anyone.</p>
                                            <p>Please do not reply to this email. Emails sent to this address will not be answered.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; color: #4d79f6; font-size: 14px; padding-top: 5px; vertical-align: top; margin: 0; text-align: right;" valign="top">
                                            &mdash; <b>S & I IT Partners Ltd</b>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>